{% set aria_current = 'cite-parents' %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-6 mt-5">Citación a padre de familia</h1>
				{% if error %}
					<div class="alert alert-primary text-center">
						Error:
						{{error}}
					</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-success text-center">
						Mensaje:
						{{success}}
					</div>
				{% endif %}
			</div>
			<div class="col-md-12">

					{% if totalCitations %}
						<div class="col-md-6 offset-md-6">
							<div class="d-flex justify-content-between align-items-center">
								<i class="fa fa-arrow-right fw-bold fs-1 {% if totalCitations >= "5" %}text-danger {% else %}text-primary{% endif %}"></i>
								<div class="fs-3 my-3">
									<span class="fw-bold">Atención:
									</span>El estudiante tiene:
									<b>{{totalCitations}}</b>
									citación(es).
								</div>
							</div>
						</div>
					{% endif %}

				<div class="container-fluid px-4">
					<form method="post" class="row g-1 observer-data-ipt">

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Anotación</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="notation" id="notation" class="form-control bg-secondary form-control-lg rounded-1 rounded-bottom-3" placeholder="Ingrese la anotación" autocomplete="off" spellcheck="false" required></textarea>
										<label for="notation" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Gravedad Observación</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<select name="severity_level" id="severity_level" class="form-select form-select-lg bg-secondary rounded-1 rounded-bottom-3" required>
											<option value="">Seleccione</option>
											<option value="Grave">Grave</option>
											<option value="Mediano">Mediano</option>
											<option value="Leve">Leve</option>
										</select>
										<label for="notation" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Nombre y Curso</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="student" id="student" class="form-control bg-secondary form-control-lg rounded-1 rounded-bottom-3" placeholder="Ingrese el nombre del estudiante" autocomplete="off" spellcheck="false" required>{% if _studentInfo is defined %}{{_studentInfo}}{% endif %}</textarea>
										<label for="student" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Documento de Identidad</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="_id" id="_id" class="form-control bg-secondary form-control-lg rounded-1 rounded-bottom-3" placeholder="Ingrese el número de identificación" autocomplete="off" spellcheck="false" required>{% if _id is defined %}{{_id}}{% endif %}</textarea>
										<label for="_id" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Testimonio Estudiante</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="testimony" id="testimony" class="form-control bg-secondary form-control-lg rounded-1 rounded-bottom-3" placeholder="Ingrese el testimonio del estudiante" autocomplete="off" spellcheck="false" required></textarea>
										<label for="testimony" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Aviso Acudiente</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="notice" id="notice" class="form-control bg-secondary form-control-lg rounded-1 rounded-bottom-3" placeholder="Ingrese el aviso al padre de familia" autocomplete="off" spellcheck="false" required></textarea>
										<label for="notice" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Email Acudiente</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="email" id="email" class="form-control bg-secondary form-control-lg rounded-1 rounded-bottom-3" placeholder="Ingrese el correo" autocomplete="off" spellcheck="false" required>{% if _emailParent is defined %}{{_emailParent}}{% endif %}</textarea>
										<label for="email" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Nombre Acudiente</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="parent_name" id="parent_name" class="form-control bg-secondary" placeholder="Ingrese el nombre del padre de familia" autocomplete="off" spellcheck="false" required>{% if _nameParent is defined %}{{_nameParent}}{% endif %}</textarea>
										<label for="parent_name" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Hora/Fecha Citación</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<input type="datetime-local" name="citation_date" id="citation_date" class="form-control form-control-lg bg-secondary"
										required>
										<label for="citation_date" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Nombre Docente</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="teacher_name" id="teacher_name" class="form-control bg-secondary" placeholder="Ingrese el nombre del padre de familia" autocomplete="off" spellcheck="false" required>{% if userLogged is defined %}{{userLogged.name ~ " " ~ userLogged.lastname}}{% endif %}</textarea>
										<label for="teacher_name" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Asignatura</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="subject_name" id="subject_name" class="form-control bg-secondary" placeholder="Ingrese el nombre del padre de familia" autocomplete="off" spellcheck="false" required></textarea>
										<label for="subject_name" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 rounded-top-3 bg-primary text-center mb-1">
									<span class="h5">Hora Asignatura</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<input type="time" name="subject_schedule" id="subject_schedule" class="form-control form-control-lg bg-secondary" required>
										<label for="subject_schedule" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 text-center">
							<button class="btn btn-primary btn-lg mt-5">
								Hacer citación
								<i class="fas fa-check-circle"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
