{% set aria_current = 'cite-parents' %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-6 mt-5">Citación a padre de familia</h1>
				{% if error %}
					<div class="alert alert-primary text-center">
						Error:
						{{error}}
					</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-success text-center">
						Mensaje:
						{{success}}
					</div>
				{% endif %}
			</div>
			<div class="col-md-12">
				<div class="container-fluid px-4">
					<form method="post" class="row g-1">
						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Anotación</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="notation" class="form-control bg-secondary" placeholder="Ingrese la anotación" autocomplete="off" spellcheck="false" required></textarea>
										<label for="notation" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Nombre y Curso</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="student" class="form-control bg-secondary" placeholder="Ingrese el nombre del estudiante" autocomplete="off" spellcheck="false" required>{% if _studentInfo is defined %}{{_studentInfo}}{% endif %}</textarea>
										<label for="student" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Documento de Identidad</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="_id" class="form-control bg-secondary" placeholder="Ingrese el número de identificación" autocomplete="off" spellcheck="false" required>{% if _id is defined %}{{_id}}{% endif %}</textarea>
										<label for="_id" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Testimonio del Estudiante</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="testimony" class="form-control bg-secondary" placeholder="Ingrese el testimonio del estudiante" autocomplete="off" spellcheck="false" required></textarea>
										<label for="testimony" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Aviso al padre de familia</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="notice" class="form-control bg-secondary" placeholder="Ingrese el aviso al padre de familia" autocomplete="off" spellcheck="false" required style="min-height: 100px;"></textarea>
										<label for="notice" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Correo del padre de familia</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="email" class="form-control bg-secondary" placeholder="Ingrese el correo" autocomplete="off" spellcheck="false" style="min-height: 100px;" required>{% if _emailParent is defined %}{{_emailParent}}{% endif %}</textarea>
										<label for="email" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Nombre del padre de familia</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="name_parent" class="form-control bg-secondary" placeholder="Ingrese el nombre del padre de familia" autocomplete="off" spellcheck="false" style="min-height: 100px;" required>{% if _nameParent is defined %}{{_nameParent}}{% endif %}</textarea>
										<label for="email" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Hora y fecha citación</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<input type="datetime-local" name="citation_date" class="form-control form-control-lg bg-secondary" style="min-height: 100px;" required>
										<label for="email" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 text-center">
							<button class="btn btn-primary btn-lg mt-5">
								Hacer citación
								<i class="fa fa-envelope"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
