{% set aria_current = ['admin', 'students'] %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="text-center my-3">
				<h1 class="display-2 fw-bold">Administración Estudiantes</h1>
			</div>
		</div>
		<div class="col-md-10">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success text-center">
					Mensaje:
					{{success}}
				</div>
			{% endif %}
		</div>

		<div class="col-md-10 col-sm-10">
			<form>
				<input name="search" value="{{search}}" type="search" class="form-control bg-secondary form-control-lg fw-light mb-1" placeholder="Buscar por nombre o documento" spellcheck="false" autofocus>
			</form>
		</div>

		<div class="col-md-2 col-sm-2 my-auto text-center">
			<a href="/administrar/agregar/padres-de-familia" class="btn btn-primary btn-sm rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Agregar Estudiante">
				<i class="fa fa-plus"></i>
			</a>
		</div>

		<div class="col-md-12">
			<table class="table table-hover table-borderless text-center">
				<caption>Estudiantes observador San José Obrero, Espinal - Tolima.</caption>
				<thead>
					<tr>
						<th>Documento</th>
						<th>Grado</th>
						<th>Nombre completo</th>
						<th>Cédula acudiente</th>
						<th>Nombre acudiente</th>
						<th>Email acudiente</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
						<tr>
							<td>{{student._id}}</td>
							<td>{{student.grade}}</td>
							<td>{{student.student}}</td>
							<td>{{student.parent_id}}</td>
							<td>{{student.parent_name ~ " " ~ student.parent_lastname}}</td>
							<td>{{student.parent_email}}</td>
							{% if aria_current_origin != "make-notation" and aria_current_origin != "cite-parents" %}
								<td>
									<form action="/administrar/editar/estudiantes" method="post" class="d-inline">
										<input type="hidden" name="_id" value="{{student._id}}">
										<button class="btn btn-secondary btn-sm rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Editar Datos Estudiante">
											<i class="far fa-edit"></i>
										</button>
									</form>

									<form action="/administrar/eliminar/estudiantes" method="post" class="d-inline">
										<input type="hidden" name="_id" value="{{student._id}}">
										<button type="submit" onclick="return confirm('Estás seguro que deseas eliminarlo?')" class="btn btn-danger btn-sm rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Eliminar <b>Definitivamente</b> el Estudiante">
											<i class="fas fa-minus-circle"></i>
										</button>
									</form>

									<form action="/administrar/cambiar-estado/estudiantes" method="post" class="d-inline">
										<input type="hidden" name="_id" value="{{student._id}}">
										<input type="hidden" name="is_enabled" value="{{student.is_enabled}}">
										<button type="submit" onclick="return confirm('Estás seguro que deseas {% if student.is_enabled == '1' %}deshabilitar{% else %}habilitar{% endif %} el estudiante?')" class="btn btn-{% if student.is_enabled == '1' %}warning{% else %}primary{% endif %} btn-sm rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{% if student.is_enabled == '1' %}Deshabilitar{% else %}Habilitar{% endif %} Estudiante">
											{% if student.is_enabled %}
												<i class="fa fa-user-alt-slash"></i>
											{% else %}
												<i class="fa fa-check-double"></i>
											{% endif %}
										</button>
									</form>
								</td>
							{% else %}
								<td>
									<a href="/make-notation?grade={{student.grade}}&_id={{student._id}}" class="btn btn-secondary btn-sm rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Hacer una anotación en el observador">
										<i class="fas fa-pen-square"></i>
									</a>
									<a href="/cite-parents?grade={{student.grade}}&_id={{student._id}}" class="btn btn-secondary btn-sm rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Citar padres de familia">
										<i class="far fa-calendar"></i>
									</a>
								</td>
							{% endif %}
						</tr>
					</form>
				</tbody>
			</td>
		</tr>
	{% endfor %}
</tbody></table></div></div>{% endblock %}
