{% set aria_current = ['admin', 'parents'] %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 mx-auto mt-5">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success text-center">
					Mensaje:
					{{success}}
				</div>
			{% endif %}
			<div class="card card-body border shadow">
				<form action="/administrar/actualizar/padres-de-familia" method="post" class="row g-3">
					<h1 class="mt-3">{{parent.name ~ " " ~parent.lastname}}</h1>
					<input type="hidden" name="_id" value="{{parent._id}}">
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="name" value="{{parent.name}}" class="form-control bg-secondary form-control-lg" placeholder="Ingresa tus nombres" autocomplete="off" spellcheck="false" required>
							<label for="name" class="form-label">Nombres</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="lastname" value="{{parent.lastname}}" class="form-control bg-secondary form-control-lg" placeholder="Ingresa tus apellidos" autocomplete="off" spellcheck="false" required>
							<label for="lastname" class="form-label">Apellidos</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="number" name="telephone" value="{{parent.telephone}}" class="form-control bg-secondary form-control-lg" placeholder="Ingresa el télefono" autocomplete="off" required>
							<label for="name" class="form-label">Télefono</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="email" name="email" value="{{parent.email}}" class="form-control bg-secondary form-control-lg" placeholder="Ingrese el correo" autocomplete="off" required>
							<label for="email" class="form-label">Email</label>
						</div>
					</div>

					<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" name="job" value="{{parent.job}}" class="form-control bg-secondary form-control-lg" placeholder="Trabajo del Acudiente" required>
									<label for="job" class="form-label">Empleo</label>
								</div>
							</div>

							{# <input type="datetime-local" name="availability" class="form-control bg-secondary form-control-lg" placeholder="Fecha de Disponibilidad" required>
							<label for="availability" class="form-label">Disponibilidad</label> #}
						</div>
						
						<div class="col-md-6">
							<div class="form-floating">
								<!-- Button trigger availability modal -->
								<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#availabilityModal">
									Disponibilidad
									<i class="far fa-calendar"></i>
								</button>
							</div>
						</div>

						<!-- Availability Modal -->
						<div class="modal fade" id="availabilityModal" tabindex="-1" aria-labelledby="availabilityModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="availabilityModalLabel">Horario de Disponibilidad</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="row g-3">
											<div class="col-md-12">
												<div class="d-flex align-items-center justify-content-center gap-3">
													{% set days_available = parent.days_available | split(',') %}
													{% set all_days = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"] %}

													{% for day in all_days %}
														{% set checked = day in days_available ? 'checked' : '' %}
														<input type="checkbox" value="{{day}}" class="btn-check" name="days_available[]" id="{{day}}" autocomplete="off" {{ checked }}>
														<label class="btn" for="{{day}}">{{day}}</label>
													{% endfor %}
												</div>
											</div>
											<div class="col-md-6 px-3 text-center mt-4">
												<label for="availability_time" class="form-label">Desde:</label>
												<input type="time" name="availability_start_time" value="{{parent.availability_start_time}}" class="form-control bg-secondary form-control-lg" placeholder="Hora de Disponibilidad" required>
											</div>
											<div class="col-md-6 px-3 text-center mt-4">
												<label for="availability_time" class="form-label">Hasta:</label>
												<input type="time" name="availability_end_time" value="{{parent.availability_end_time}}" class="form-control bg-secondary form-control-lg" placeholder="Hora de Disponibilidad" required>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
											Cerrar
											<i class="fas fa-times-circle"></i>
										</button>
										<button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">
											Guardar Cambios
											<i class="fas fa-check-double"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

					<div class="col-md-12">
						<a href="/administrar/padres-de-familia" class="btn btn-secondary btn-lg mb-2">
							Volver
							<i class="fas fa-angle-left"></i>
						</a>
						<button type="submit" class="btn btn-primary btn-lg mb-2">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
