{% set aria_current = ['admin', 'parents'] %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 mx-auto mt-5">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success text-center">
					Mensaje:
					{{success}}
				</div>
			{% endif %}
			<div class="card card-body border shadow">
				<form action="/administrar/actualizar/padres-de-familia" method="post" class="row g-3">
					<h1 class="mt-3">{{parent.name ~ " " ~parent.lastname}}</h1>
					<input type="hidden" name="_id" value="{{parent._id}}">
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="name" value="{{parent.name}}" class="form-control bg-secondary form-control-lg" placeholder="Ingresa tus nombres" autocomplete="off" spellcheck="false" required>
							<label for="name" class="form-label">Nombres</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="lastname" value="{{parent.lastname}}" class="form-control bg-secondary form-control-lg" placeholder="Ingresa tus apellidos" autocomplete="off" spellcheck="false" required>
							<label for="lastname" class="form-label">Apellidos</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="number" name="telephone" value="{{parent.telephone}}" class="form-control bg-secondary form-control-lg" placeholder="Ingresa el télefono" autocomplete="off" required>
							<label for="name" class="form-label">Télefono</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="email" name="email" value="{{parent.email}}" class="form-control bg-secondary form-control-lg" placeholder="Ingrese el correo" autocomplete="off" required>
							<label for="email" class="form-label">Email</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="datetime-local" name="availability" value="{{parent.availability}}" class="form-control bg-secondary form-control-lg" placeholder="Fecha de Disponibilidad" required>
							<label for="availability" class="form-label">Disponibilidad</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="job" value="{{parent.job}}" class="form-control bg-secondary form-control-lg" placeholder="Trabajo del Acudiente" required>
							<label for="job" class="form-label">Empleo</label>
						</div>
					</div>

					<div class="col-md-12">
						<a href="/administrar/padres-de-familia" class="btn btn-secondary btn-lg mb-2">Volver</a>
						<button type="submit" class="btn btn-primary btn-lg mb-2">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
