{% set aria_current = current_template %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="text-center my-3">
				<h1 class="display-2 fw-bold">{{title}}</h1>
			</div>
			<div class="text-center">
				<h2 class="display-6">Elige el curso del estudiante en cuestión</h2>
			</div>
		</div>
		<div class="col-md-6 mx-auto">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success text-center">
					Mensaje:
					{{success}}
				</div>
			{% endif %}
			<div class="card card-body border-0">
				<form class="row g-3 text-center">
					{% if grades is defined %}
						<div class="col-md-12">
							<div class="form-floating">
								<select name="grade" class="form-select form-select-lg bg-secondary" required>
									<option value="">Seleccione</option>
									{% for grade in grades %}
										<option value="{{grade._id}}">{{grade.grade}}
											({{grade._id}})</option>
									{% endfor %}
								</select>
								<label for="grade" class="form-label">Curso del estudiante</label>
							</div>
						</div>
					{% endif %}
					<div class="col-md-12">
						<div class="form-floating">
							<input type="text" name="search" class="form-control form-control-lg bg-secondary" placeholder="Ingrese la cédula o el nombre" required>
							<label for="search" class="form-label">Documento o nombre del estudiante</label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
