{% set aria_current = current_template %}

{% extends '/layout/layout.twig' %}

{% block content %}
<div class="row">
	<div class="col-md-10 mx-auto">
		<div class="text-center my-3">
			<h1 class="display-2 fw-bold">{{title}}</h1>
		</div>
		<div class="text-center">
			<h2 class="display-6">Elige el curso del estudiante en cuestión</h2>
		</div>
	</div>
	<div class="col-md-6 mx-auto">
		{% if error %}
		<div class="alert alert-primary text-center">
			Error:
			{{error}}
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success text-center">
			Mensaje:
			{{success}}
		</div>
		{% endif %}
		<div class="card card-body border-0 text-center">
			<form class="row g-3">
				{% if grades is defined %}
				<div class="col-md-12">
					<div class="form-floating">
						<select name="grade" class="form-select form-select-lg h-100 bg-secondary" required>
							<option value="">Seleccione</option>
							{% for grade in grades %}
							<option value="{{grade._id}}">{{grade.grade}}
								({{grade._id}})</option>
							{% endfor %}
						</select>
						<label for="grade" class="form-label">Curso del estudiante</label>
					</div>
				</div>
				{% endif %}
				<div class="col-md-12">
					<div class="form-floating">
						<input type="text" name="search" class="form-control form-control-lg h-100 bg-secondary"
							placeholder="Ingrese la cédula o el nombre" required>
						<label for="search" class="form-label">Documento o nombre del estudiante</label>
					</div>
				</div>
			</form>

			<div class="mt-5">
				<button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#helpModal">
					Necesitas ayuda?
					<i class="fa fa-circle-question"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- The Help Modal -->
<div class="modal" id="helpModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">
					Necesitas ayuda?
					<i class="fa fa-circle-question"></i>
				</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="px-4 my-5 pt-3 text-center">
						<img src="/public/brand/san_jose_obrero.png" class="img-fluid rounded-3 mb-4" alt="san_jose_obrero logotype"
							width="300" height="100" />

						<h1 class="h1 fw-bold my-5">
							Instrucciones para visualizacion de citacion y observador
						</h1>

						<h4>Ver citación:</h4>
						<p class="h5">
							Al entrar a esta sección sea ver citacio o hacer citacion habra un
							selector de curso seleccione el curso del estudiante (primero , segundo
							,tercero etc.) Al seleccionar el curso o grado digite el nombre o número
							de identificación de su hijo darle click en enter la flecha ladeada , con
							el cual se hará la búsqueda en la base de datos de la página selecciona el
							estudiante en caso de nombre ya que algunos pueden tener el mismo nombre ,
							luego de esto se visualizará la información basada en la citación enviada
							por parte de la institución
						</p>

						<h4 class="mt-5">Ver observador:</h4>
						<p class="h5">
							Al entrar a esta sección sea ver observador o hacer anotacion en el
							observador , habra un selector curso seleccione el curso del estudiante
							(primero , segundo ,tercero etc.)Al seleccionar el curso o grado digite el
							nombre o número de identificación del estudiante darle click en enter la
							flecha ladeada con el cual se hará la búsqueda en la base de datos de la
							página selecciona el estudiante en caso de nombre ya que algunos pueden
							tener el mismo nombre , luego de esto se visualizará la información basada
							en el observador de disciplina por parte de la institución
						</p>
					</div>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Cerrar</button>
			</div>

		</div>
	</div>
</div>

{% endblock %}